<!DOCTYPE HTML>
<html lang="en">
    <%- include('partial/_head.ejs') %>
   <body>
       
      <!-- main start  -->
      <div id="main">
         <!-- header--> 
         <%- include('partial/_header.ejs') %>
         <!-- header end-->

         <!-- left-header-->
         <%- include('partial/_aside.ejs') %>
         <!-- left-header end-->
         
         <!-- share button--> 
         <div class="share-btn showshare color-bg"><span>Share <i class="fal fa-plus"></i></span></div>
         <!-- share button end--> 
         <!-- right header--> 
         <div class="hc_dec_color">
            <div class="page-subtitle"><span></span></div>
         </div>
         <!-- right header end--> 
         <!-- wrapper  -->	
         <div id="wrapper">
            <!-- navigation menu-->
            <%- include('partial/_nav.ejs') %>
            <!-- navigation menu end  -->

            <div class="content full-height no-mob-hidden2" data-pagetitle="Contacts">
               <div class="content-inner">
                  <div class="content-front">
                     <div class="cf-inner">
                        <div class="contact-details-title fl-wrap">
                           <h2>Contact Detais</h2>
                        </div>
                        <div class="contact-details fl-wrap">
                           <ul>
                            <li><span>01. Mail :</span><a href="#" target="_blank">Info@lognetics.com</a></li>
                            <li><span>02. Mail :</span><a href="#" target="_blank">Lognetics@gmail.com</a></li>
                            <li><span>03. Adress :</span><a href="#" target="_blank">LOGNETICS HUB, Abuja, Nigeria</a></li>
                              <li><span>04. Phone :</span><a href="#">+234 810 500 1830</a> <a href="#"></a></li>
                           </ul>
                        </div>
                        <a href="#" class="btn fl-btn color-bg show_contact-form"><span>Say Hello</span></a> 
                        <div class="aside-show_cf show_contact-form"><i class="fal fa-envelope"></i></div>
                     </div>
                  </div>
                  <div class="content-back">
                     <div class="hidden-contact_form-wrap_inner">
                        <div class="close-contact_form cnt-anim"><i class="fal fa-times"></i></div>
                        <div class="contact-details-title fl-wrap">
                           <h2>Get in Touch</h2>
                        </div>
                        <div id="contact-form" class="fl-wrap">
                           <div id="message"></div>
                           <form  class="custom-form" action="php/contact.php" name="contactform" id="contactform">
                              <fieldset>
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <input type="text" name="name" id="name" placeholder="Your Name *" value=""/>
                                    </div>
                                    <div class="col-sm-6">
                                       <input type="text"  name="email" id="email" placeholder="Email Address *" value=""/>
                                    </div>
                                 </div>
                                 <textarea name="comments"  id="comments" cols="40" rows="3" placeholder="Your Message:" class="cnt-anim"></textarea>
                                 <button class="btn fl-btn color-bg" id="submit"><span>Send Message</span> </button>
                              </fieldset>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="map-container">
                  <div id="map-single" class="map" data-latlog="[40.714 , -74.005]" data-popuptext="My Location in New York ."></div>
               </div>
               <div class="main_social">
                  <span class="main-social-title">Find on:</span>
                  <ul>
                     <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                     <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  </ul>
               </div>
            </div>
            <!-- share-wrapper-->
            <div class="share-wrapper">
               <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
               <div class="share-container fl-wrap  isShare"></div>
            </div>
            <!-- share-wrapper  end -->						
         </div>
         <!-- wrapper end -->
         <!-- cursor-->
         <div class="element">
            <div class="element-item"></div>
         </div>
         <!-- cursor end-->
      </div>
      <!-- Main end -->
      <!--=============== scripts  ===============-->
      <%- include('partial/_footer.ejs') %>

   </body>
</html>
