
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <%- include('partial/_head.ejs') %>
    <body>
         <%- include('partial/_loader.ejs') %>
        <!-- main start  -->
        <div id="main">
            <!-- header-->
            <%- include('partial/_header.ejs') %>
            <!-- header end-->

            <!-- left-header-->
            <%- include('partial/_aside.ejs') %>
            <!-- left-header end-->
            <!-- share button-->
            <div class="share-btn showshare color-bg"><span>Share <i class="fal fa-plus"></i></span></div>
            <!-- share button end-->
            <!-- right header-->
            <div class="hc_dec_color">
                <div class="page-subtitle"><span></span></div>
            </div>
            <!-- right header end-->

            <!-- wrapper  -->
            <div id="wrapper">
                <!-- navigation menu-->
                <%- include('partial/_nav.ejs') %>
                <!-- navigation menu end  -->
                
                <!-- content-->
                <div class="content full-height" data-pagetitle="Lognetics">
                    <div class="fl-wrap full-height hero-conatiner">
                        <div class="hero-wrapper fl-wrap full-height hidden-item">
                            <span class="hc_dec"></span>
                            <!-- fs-slider-wrap  -->
                            <!-- hero-slider-wrap -->
                            <div class="hero-slider-wrap home-half-slider fl-wrap full-height">
                                <div class="hero-slider fs-gallery-wrap fl-wrap full-height">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper" >
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                <div class="half-hero-wrap">
                                                    <h1>Futuristic <br>domain of <span>Creativity</span></h1>
                                                    <h4>We create and build purpose-driven, customer-centric brands by implementing our futuristic technologies, we identify as creative experts who produce qualitative and quantitative products </h4>
                                                    <div class="clearfix"></div>
                                                    <a href="/about" class="btn ajax  fl-btn color-bg"><span>About Us</span></a>
                                                 </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                <div class="half-hero-wrap">
                                                    <h1>We're <br>constantly <span>Building</span></h1>
                                                    <h4>Updates and advancement are consistently made by `netics to ensure all products we deliver are ‘up to date’ and of the best possible quality  </h4>
                                                    <div class="clearfix"></div>
                                                    <a href="/about" class="btn ajax  fl-btn color-bg"><span>About Us</span></a>
                                                </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                <div class="half-hero-wrap">
                                                    <h1>We Prioritize <br/> <span>Innovation</span></h1>
                                                    <h4>As a company, we ensure that at every point in time we are moving just as fast as the world of technology and it’s advancements. With this we’re able to give you the best. </h4>
                                                    <div class="clearfix"></div>
                                                    <a href="/about" class="btn ajax  fl-btn color-bg"><span>About Us</span></a>
                                                </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                  <div class="half-hero-wrap">
                                                      <h1>The perfect <br>blend of <span>Creativity</span></h1>
                                                      <h4>The vigorous chase is creating brilliant, meaningful and inventive-oriented ideas that help your business flourish</h4>
                                                      <div class="clearfix"></div>
                                                      <a href="/about" class="btn ajax  fl-btn color-bg"><span>About Us</span></a>
                                                   </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                  <div class="half-hero-wrap">
                                                      <h1>Committed <br/><span>to the Future</span></h1>
                                                      <h4>We supercharge digital effectiveness by planning, and optimizing futuristic and creative strategies</h4>
                                                      <div class="clearfix"></div>
                                                      <a href="/about" class="btn ajax  fl-btn color-bg"><span>About Us</span></a>
                                                   </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                  <div class="half-hero-wrap">
                                                      <h1>We Make Your <br><span>Experience </span>Even Better</h1>
                                                      <h4>We work closely with clients to understand their customers and to create experiences that deepen those relationships. </h4>
                                                      <div class="clearfix"></div>
                                                      <a href="/about" class="btn ajax  fl-btn color-bg"><span>About Us</span></a>
                                                   </div>
                                            </div>
                                            <!-- swiper-slide end-->
                                            <!-- swiper-slide-->
                                            <div class="swiper-slide">
                                                  <div class="half-hero-wrap">
                                                      <h1>Where Creativity and <br> Technology <span>Converge</span></h1>
                                                      <h4>We use emerging technology to deliver next-generation experiences that deliver sales and brand equity, by blending creativity perfectly. </h4>
                                                      <div class="clearfix"></div>
                                                      <a href="/about" class="btn ajax  fl-btn color-bg"><span>About Us</span></a>
                                                   </div>
                                            </div>
                                            <!-- swiper-slide end-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- hero-slider-wrap  end-->
                            <!-- hero-slider-img-->
                            <div class="hero-slider-img hero-slider-wrap_halftwo hidden-item">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper" >
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="/img/bg/12.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="/img/bg/3.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="/img/bg/4.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="/img/bg/2.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="/img/bg/8.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="/img/bg/10.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="bg"  data-bg="/img/bg/11.jpg" data-swiper-parallax="20%"></div>
                                            <div class="overlay"></div>
                                        </div>
                                        <!-- swiper-slide end-->

                                    </div>
                                </div>
                                <div class="hero-corner-dec"></div>
                                <div class="hero-corner-dec2"></div>
                            </div>
                            <!-- hero-slider-img  end-->
                            <!-- slider-controls -->
                            <div class="slider-progress-bar">
                                <span>
                                    <svg class="circ" width="50" height="50">
                                        <circle class="circ2" cx="25" cy="25" r="23" stroke="rgba(255,255,255,0.4)" stroke-width="1" fill="none"/>
                                        <circle class="circ1" cx="25" cy="25" r="23" stroke="#fff" stroke-width="2" fill="none"/>
                                    </svg>
                                </span>
                            </div>
                            <div class="clone-counter">
                                <div class="current">01</div>
                            </div>
                            <div class="swiper-counter hs_counter">
                                <div class="current">01</div>
                                <div class="total"></div>
                            </div>
                            <div class="hero-slider_control-wrap">
                                <div class="hsc hsc-prev"><span><i class="fal fa-angle-left"></i></span> </div>
                                <div class="hsc hsc-next"><span><i class="fal fa-angle-right"></i></span></div>
                            </div>
                            <!-- slider-controls end-->
                            <a href="/about" class="ajax start-btn"><span> Start explore <i class="fal fa-long-arrow-right"></i></span></a>
                            <div class="play-pause_slider hsc_pp auto_actslider"><i class="fas fa-play"></i></div>
                        </div>
                        <!-- hero-container end-->
                        <div class="hero-decor-numb"><span>9.0502  </span><span>7.4440 </span> <a href="https://www.google.com.ua/maps/" target="_blank" class="hero-decor-numb-tooltip">Based In Africa</a></div>
                        <div class="hero-slider-wrap_pagination"></div>
                        <div class="hero-scroll-down-notifer">
                            <div class="scroll-down-wrap ">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                            <i class="far fa-angle-down"></i>
                        </div>
                    </div>
                </div>
                <!-- content end -->


                <!-- share-wrapper-->
                <div class="share-wrapper">
                    <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
                    <div class="share-container fl-wrap  isShare"></div>
                </div>
                <!-- share-wrapper  end -->

            </div>
            <!-- wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <%- include('partial/_footer.ejs') %>
    </body>
