<!DOCTYPE HTML>
<html lang="en">
    <%- include('partial/_head.ejs') %>
    <body>
         
        <!-- main start  -->
        <div id="main">
             <!-- header--> 
             <%- include('partial/_header.ejs') %>
             <!-- header end-->

             <!-- left-header-->
             <%- include('partial/_aside.ejs') %>
             <!-- left-header end-->
         
            <!-- share button--> 
            <div class="share-btn showshare color-bg"><span>Share <i class="fal fa-plus"></i></span></div>
            <!-- share button end--> 
            <!-- right header--> 
            <div class="hc_dec_color">
                <div class="page-subtitle"><span></span></div>
            </div>
            <!-- right header end--> 
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- navigation menu-->
                <%- include('partial/_nav.ejs') %>
                <!-- navigation menu end  -->
                <!-- content-->    
                <div class="content" data-pagetitle="Portfolio single">
                     
                    <!--fixed-column-wrap-->
                    <div class="fixed-column-wrap">
                        <div class="pr-bg"></div>
                        <!--fixed-column-wrap-content-->
                        <div class="fixed-column-wrap-content">
                            <div class="scroll-nav-wrap color-bg">
                                <div class="snw-dec">
                                    <div class="mousey">
                                        <div class="scroller"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg"  data-bg="/img/bg/lognetics.jpg"></div>
                            <div class="overlay"></div>
                            <div class="progress-bar-wrap bot-element">
                                <div class="progress-bar"></div>
                            </div>
                            <!--fixed-column-wrap_title-->
                            <div class="fixed-column-wrap_title first-tile_load">
                                <h2>Our<br>Services</h2>
                                
                            </div>
                            <!--fixed-column-wrap_title end-->
                            <div class="fixed-column-dec"></div>
                            <div class="fixed-column-linedec"></div>
                            <div class="scroll-notifer">Scroll Down  </div>
                        </div>
                        <!--fixed-column-wrap-content end-->                                     
                    </div>
                    <!--fixed-column-wrap end-->
                    <!--column-wrap--> 
                    <div class="column-wrap">
                        <!--column-wrap-container -->   
                        <div class="column-wrap-container fl-wrap">
                            <div class="col-wc_dec"></div>
                            <section class="scroll_sec" id="sec1">
                                <div class="container">
                                    <div class="section-title">
                                        <!-- <h3>Kent Brant Concept</h3> -->
                                        <p>Lognetics is a company passionate about creating attention-grabbing, and functional strategies that drives at business growth and unchallenged reputation. 
                                            We offer the best standards regardless of project size and specifications with amazing customer services and timelines that facilitate collaboration, learning, fun and networking. </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 
                                <div class="container">
                                    <div class="fl-wrap text-block">
                                        <div class="pr-subtitle"> - Experiential Innovation</div>
                                        <p>The interactive and physical world collide with our tactile technological experience. Not only do we immerse your audience fully into the virtual world, we use our augmented or mixed reality experiences alongside Holographic technologies to alter how they view the world they are already in.
                                            We’re able to produce sophisticated yet simple and expressive models.</p>
                                        <p>LOGNETICS pride her self in building and developing branded VR content for  marketing, training, and activations. We develop fun and engaging experiences from concept to event presentation. We are platform agnostic, with capabilities to develop experiences for the HTC Vive, Oculus Rift, Microsoft Hololens, etc. We also develop augmented reality apps for any tablet or AR application.</p>
                                    </div>
                                    <div class="pr-subtitle"> We Specialize In:</div>
                                    <!-- accordion-->                            
                                    <div class="accordion mar-top">
                                        <a class="toggle act-accordion" href="#"> Brand Activation <span></span></a>
                                        <div class="accordion-inner visible">
                                            <p>Lognetics provides a unique opportunity to align your brand with an unforgettable virtual experience. Get the awareness you need using our branded VR experience.</p>
                                        </div>
                                        <a class="toggle" href="#">Event<span></span></a>
                                        <div class="accordion-inner">
                                            <p>From small tech meetups to national conventions with thousands of attendees, lognetics provides guests with amazing and immersive experiences they can’t find anywhere else.</p>
                                        </div>
                                        <a class="toggle" href="#">Training & Simulations<span></span></a>
                                        <div class="accordion-inner">
                                            <p>Train your personnel more effectively with “learning by doing” in an immersive, engaging and interactive 3D virtual environment.</p>
                                        </div>
                                        <a class="toggle" href="#">Real Estate<span></span></a>
                                        <div class="accordion-inner">
                                            <p>Our Virtual Reality experiences create memorable impressions on users and empower consumers to make their buying decisions with confidence and excitement.</p>
                                        </div>
                                        
                                    </div>
                                    <!-- accordion end -->  
                                    
                                    


                                    <!-- project-details-->                            
                                    <!-- <div class="project-details fl-wrap">
                                        <ul>
                                            <li><span>01. Date :</span> 26.05.2019 </li>
                                            <li><span>02. Client :</span> Envato</li>
                                            <li><span>03. Category : </span>Design</li>
                                            <li><span>04. Online : </span>  <a href="#" target="_blank">themeforest.net </a></li>
                                        </ul>
                                    </div> -->
                                    <!-- project-details end -->   
                                    <!-- <a href="#" class="btn   color-bg  fl-btn det-anim" target="_blank"><span>View Project</span></a>   -->
                               
                               
                               
                               
                               
                               
                                </div>
                                <div class="section-number"> <span>0</span>1. </div>
                            </section>
                            <!-- Section ends -->

                                            
<!-- Section start-->
                            <section class="scroll_sec" id="sec1">
                                                                                                                                
                                <div class="clearfix"></div>
                                <div class="container">
                                    <div class="fl-wrap text-block">
                                        <div class="pr-subtitle"> PREMIUM BRANDING </div>
                                        <p>We apply digital product methodologies, including rapid brand prototyping, ongoing usability testing and iterative development to bridge the gap between the digital experience of users and their physical ones. We give professional brand strategy solutions, so as to give your company the best brand identity.</p>
                                        <p>We develop premium and compelling brand expressions alongside state of the art branded identities which cuts across all branding phase of an enterprise, Our branding services includes: Brand strategy and identity, Graphics design, Animation, Scripting & VoiceOvers , Content Development, Art and visual shoots among others</p>
                                    </div>
                                    <div class="pr-subtitle"> We Specialize In:</div>

                                    <!-- accordion-->                            
                                    <div class="accordion mar-top">
                                        <a class="toggle act-accordion" href="#"> BRAND STRATEGY AND IDENTITY <span></span></a>
                                        <div class="accordion-inner visible">
                                            <p>One major quality that distinguishes a Globally Successful and accomplished brand from other toiling brands is a top-notch digital Identity. At LOGNETICS, we give our clients not just any identity, but one that communicates your business personality and shapes your audience perceptions on your brand. We analyze your brand and develop according to your uniqueness and identity. One that positively influences their purchasing decisions, directly impacting your profitability.
                                                LOGNETICS is interested in the progress of your business and to achieve this we strategize on; </p>
                                                <ul>
                                                    <li>
                                                        <h4>Conducting research </h4>
                                                        <p>We make research as to grasp your company’s vision and to fully understand your target market. </p>
                                                    </li>
                                                    <li>
                                                        <h4>Clarifying strategy</h4>
                                                        <p>We perfectly fuse the terms of how you want to be portrayed and the perspective of what your customers want from your brand to satisfy their needs. Clarifying Vision, Target markets, Competitive advantage, Brand values, Brand personality, Brand promise and Brand proposition.</p>
                                                    </li>
                                                    <li>
                                                        <h4>Designing identity</h4>
                                                        <p>We give precise attention to detail, ensuring that your design works on different scales, different materials, on screen or in print. We consider colours, fonts, shapes and icons and how they relate to the personality and uniqueness of your brand.</p>
                                                    </li>
                                                    <li>
                                                        <h4>Creating touch point</h4>
                                                        <p>We develop the designs created in the previous stage and apply them across touch points including website , Business cards, Letterheads, Brochures etc. </p>
                                                    </li>
                                                    <li>
                                                        <h4>Brand launch and management</h4>
                                                        <p>We have a long term commitment to helping our clients thrive. We make sure to manage modifications to your brand making sure that you remain on top of the competition always.</p>
                                                    </li>
                                                </ul>
                                        </div>
                                        <a class="toggle" href="#">GRAPHIC DESIGN AND ANIMATION<span></span></a>
                                        <div class="accordion-inner">
                                            <p>LOGNETICS priorities great design. So whether you need a logo, a flier design for an event or online campaign, design for letterhead, business card, brochure packaging design or its videography, video editing, motion graphics or animation we’ve got you covered.</p>
                                            <ul>
                                                <li>
                                                    <h4>The Briefing</h4>
                                                    <p>We get information on the purpose of your design from you. We may also present you our portfolio so you we can ascertain if your intention for the project has any similarities with previous designs we might have done in the past. This helps you see if your style and approach will suit them. </p>
                                                </li>
                                                <li>
                                                    <h4>Research</h4>
                                                    <p>After the brief, we conduct research on your industry and your competitors. We run a study of your target audience to understand what design elements will have the greatest positive influences on them. We desire your design project to stay relevant to the sector while occupying a unique niche in the market.</p>
                                                </li>
                                                <li>
                                                    <h4>Sketching & Design</h4>
                                                    <p>As our motto goes, we blend creativity perfectly by applying an intelligent combination specific elements of colour, style, font, typography, content and photography to give you the perfect blend of creativity that the job needs to emotionally influence and inspire your audiences’ actions</p>
                                                </li>
                                                <li>
                                                    <h4>Review & Refine</h4>
                                                    <p>We believe that to every design, there is always room for improvement. So before the final launch of the design, we work with you in reviewing the job done. We polish the job, refine your work and make sure it comes out as an excellent piece, both appealing to the eyes and communicating to the mind.</p>
                                                </li>
                                                <li>
                                                    <h4>Launch & Repeat</h4>
                                                    <p>Once the design is completed, all relevant files will be handed over to you. Its time for the world to see what you’ve got next. But this is not where it ends. We still continue to partner with you to develop designs that are crafted tactfully to influence your customers and grow your business.</p>
                                                </li>
                                            </ul>
                                        </div>            
                                    </div>
                                    <!-- accordion end -->     
                                </div>
                                <div class="section-number"> <span>0</span>2. </div>
                            </section>
                            <!--section end--> 


                            <!-- Section start-->
                            <section class="scroll_sec" id="sec1">
                                                                                                                                
                                <div class="clearfix"></div>
                                <div class="container">
                                    <div class="fl-wrap text-block">
                                        <div class="pr-subtitle"> SOFTWARE DEVELOPMENT  </div>
                                        <p>Our services encompass a wide range of web, mobile, and virtual platforms. Our detailed and personalized approach produces the perfect solution for building an onsite software support system, filling project based contracts, and integrating cutting edge technologies to your whole web presence.</p>
                                        <p>A spectacular website is not only focused on how pretty the visual interface looks. It involves a perfect blend of tactful and carefully planned strategy with the design and development process to fulfill the purpose it was built for.  And that’s what your brand needs. A website that drives high amount of traffic from search engine results and influences the action of prospective customers.</p>
                                    </div>
                                    <div class="pr-subtitle">We summarize the process in these five phases:</div>

                                    <!-- accordion-->                            
                                    <div class="accordion mar-top">
                                        <a class="toggle act-accordion" href="#"> Define the project goals <span></span></a>
                                        <div class="accordion-inner visible">
                                            <p>At LOGNETICS, we are interested in helping you communicate your brands identity on all touchpoints and that includes your website. We conduct researches and interviews to get a clearer perspective on your goals, your kind of target audiences, the message that your page will convey, and the nature of the competition so you can take advantage of your uniqueness. </p>
                                                
                                        </div>
                                        <a class="toggle" href="#">Wireframes & Architecture<span></span></a>
                                        <div class="accordion-inner">
                                            <p>Based on the type and purpose of the website, we suggest the technology stacks that will be applied. Sitemaps and wireframes are then developed to provide insight to the navigational structure of the site and guides content strategy. The content writing process follows, where we take advantage of SEO strategy, using a carefully-planned content strategy to boost your sites visibility in the search engine rankings. </p>
                                             
                                        </div>  
                                        <a class="toggle" href="#">UX/UI Design<span></span></a>
                                        <div class="accordion-inner">
                                            <p>Next after the blue print has been developed in the previous phases, the visual style is created. It is determined by the already existing visual style of the brand. Our goal here is to connect the web’s visual design with that of all touchpoints of the organization. The font, colour and style is perfectly blended to create that perfect interface that keeps your customer glued to your site. </p>
                                             
                                        </div>  
                                        <a class="toggle" href="#">Develop<span></span></a>
                                        <div class="accordion-inner">
                                            <p>This is the point where your brands visual and digital Identity is incorporated in the website. The actual coding process is done and depending on the nature of your brand or the purpose of the website, frameworks are selected and applied in the development. The process is meticulously developed to be responsive and flexible on all digital devices used to view the site. </p>
                                             
                                        </div>  
                                        <a class="toggle" href="#">Launch and Maintenance<span></span></a>
                                        <div class="accordion-inner">
                                            <p>Finally, the website is transferred from the local server to the live server. But the journey with you doesn’t end there. We’re available for maintenance of the website as we are interested in building a long term business relationship with you. As the patterns of your market change and desires of your audience begin to adjust, we are always at your service to keep you above the competition
                                            </p>
                                             
                                        </div>            
                                    </div>
                                    <!-- accordion end -->     
                                </div>
                                <div class="section-number"> <span>0</span>3. </div>
                            </section>  
                            <!--section end--> 

                        </div>
                        <!--column-wrap-container end -->          
                    </div>
                    <!--column-wrap end-->    
                    <div class="to-top-btn to-top"><i class="fal fa-long-arrow-up"></i></div>
                </div>
                <!-- content end--> 
                <div class="hero-scroll-down-notifer">
                    <div class="scroll-down-wrap ">
                        <div class="mousey">
                            <div class="scroller"></div>
                        </div>
                    </div>
                    <i class="far fa-angle-down"></i>
                </div>
                <!-- share-wrapper-->
                <div class="share-wrapper">
                    <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i></div>
                    <div class="share-container fl-wrap  isShare"></div>
                </div>
                <!-- share-wrapper  end -->						
            </div>
            <!-- wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
         <%- include('partial/_footer.ejs') %>
    </body>
</html>
