<head>
  <!--=============== basic  ===============-->
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <meta name="robots" content="index,follow" />
  <title><%- siteTitle %></title>
  <meta
    name="keywords"
    content="lognetics,creativity,innovation,design,technology"
  />
  <meta name="description" content="<%= description %>" />
  <link rel="canonical" href="https://lognetics.com<%= path %>" />
  <!--=============== Open Graph data ===============-->
  <meta property="og:locale" content="en_GB" />
  <meta property="og:url" content="https://lognetics.com<%= path %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="https://lognetics.com<%= image %>" />
  <meta property="og:title" content="<%= siteTitle %>" />
  <meta property="og:site_name" content="Lognetics" />
  <!--=============== Twitter Card ===============-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@lognetics" />
  <meta name="twitter:title" content="<%= siteTitle %>" />
  <meta name="twitter:url" content="https://lognetics.com<%= path %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="https://lognetics.com<%= image %>" />
  <!--=============== css  ===============-->
  <link type="text/css" rel="stylesheet" href="/css/plugins.css" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/color.css" />
  <!--=============== favicons ===============-->
  <link rel="shortcut icon" href="/img/favicon.ico" />
</head>
